{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title> Home </title>
    <!--link type= "text/css" href="{% static 'blog/css/style.css?8' %}" rel="stylesheet"-->
    <link href="/static/blog/css/style.css?8" rel="stylesheet">
</head>
<body>
    <h2> Hellow, my 1st template </h2>
    {% for post in posts %}
        <h3> {{ post.title }}  </h3>
        <div>
            <img src="{{ post.photo.url }}" width = '100' alt = 'photo'>
            {{ post.content }}
        </div>
        <p> {{ post.created_at }}</p>
    {% endfor %}
    <p> <a href="/readme"> readme  </a> </p>
    <p> <a href="/test/first"> test/first  </a> </p>
    <p> <a href="/bogacha"> bogacha  </a> </p>
    <img src="/static/blog/akva01.jpg">
    vartest: {{ var_test }}
</body>
</html>


