<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> read me </title>
</head>
<body>

<pre>
использовал материалы
 WebForMySelf
https://www.youtube.com/watch?v=FKrehdxbTOA&list=PLHV0sc9EnAAC7_U1tPuUsX6pdB_W8n27u&index=10

ADMINka login serg, passw 123   ****************

Запуск:
    docker-compose up

# try django in venv

сформировал pipenv      ********************
  pipenv install
  pipenv shell
  ./manage.py runserver

2022 11 03 add app blog
 branch add1app
 add func test

2022 11 06 add table Article
  https://www.youtube.com/watch?v=zdonFVX6fQc&list=PLD-piGJ3Dtl0v10rx98Q0kuAsBfn2MmxL&index=6
  урок 6
  Заполнение таблицы через админку
  и добавление фото
2022 11 15
  сформировал Makefile, run: make up
2022 11 17
  Вывод данных базы в template-e
ветка Work221117
2022 11 22
  running psql by demon
  add url /test/first after amend
2022 11 24
  add first.html
  add readme.html
  add blog/css/style.css
2022 11 27
  static/blog/css

</pre>

<a href = "/"> Main </a>

</body>
</html>

